@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Fixel-Regular";
  src: url("../src/assets/fonts/FixelDisplay-Regular.ttf");

}

@font-face {
  font-family: "Fixel-Medium";
  src: url("../src/assets/fonts/FixelDisplay-Medium.ttf");
}

@font-face {
  font-family: "Fixel-Bold";
  src: url("../src/assets/fonts/FixelDisplay-Bold.ttf");
}

@font-face {
  font-family: "Fixel-Black";
  src: url("../src/assets/fonts/FixelDisplay-Black.ttf");
}

body {
  padding: 0;
}

.container {
  @apply px-[120px] py-24 flex flex-col
}

:root {
  padding: 0%
}



.navTextButton {
  @apply text-white font-fixel-medium text-[18px] mr-[34px]
}

.navTextButton:hover {
  @apply text-textHover
}

.connectButton {
  @apply text-[#C4EBFF] font-fixel-medium text-[18px] bg-[#63859680] px-[18px] py-[8px] rounded-[100px] mr-[34px] h-fit
}

.socialIcon {
  @apply text-white w-[28px] h-[28px] mr-[34px]
}

.socialIcon:hover {
  @apply text-textHover
}

.footerButton {
  @apply text-white font-fixel-regular mx-4 text-[15px]
}

.fotterSocialIcon {
  @apply text-white w-[28px] h-[28px]
}

.darkHeading {
  @apply text-black font-fixel-medium text-[40px]
}

.lightHeading {
  @apply text-white font-fixel-medium text-[40px]
}

.headerImage {
  @apply w-[159px] mx-2
}

/* animation  */
@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}


.header-slider-container {
  @apply overflow-hidden mt-[128px]
}



.header-slider {
  display: flex;
  flex-direction: row;
  animation: 25s slide infinite linear;


}



.header-slider-container:hover .header-slider {
  animation-play-state: paused;
}



.nftMarketInfo {
  @apply flex flex-row mt-24 pl-[120px] overflow-hidden
}

img {
  max-width: fit-content;
}

.navContainer {
  @apply flex flex-row items-center
}